
video {
    display: inline-block;
}
button, select {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}
button {
    line-height: normal;
}
button, select {
    text-transform: none;
}
button {
    -webkit-appearance: button;
    cursor: pointer;
}
button[disabled] {
    cursor: default;
}
button::-moz-focus-inner {
border:0;
padding:0;
}